<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1 style='text-align:center;'> Quotes by Author </h1>
        <div class='row'>
            <div class='col-sm-4'></div>
            <button class='col-sm-4 btn btn-info btn-block'onclick='location.href="/";'>Search Again</button>
            <div class='col-sm-4'></div>
        </div>
        
        <h3>Quotes by <%=quotes[0].firstName%> <%=quotes[0].lastName%></h3>
        <ul>
            <%quotes.forEach(function(q){%>
                <li>
                    <%=q.quote%> by <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAuthorID<%=q.authorId%>">
                      <%=q.firstName%> <%=q.lastName%> 
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="modalAuthorID<%=q.authorId%>" tabindex="-1" role="dialog" aria-labelledby="authorId<%=q.authorId%>" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="authorId<%=q.authorId%>">Author</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img class='col-sm-4 portrait' src=<%=q.portrait%> />
                		    <div class='col-sm-4 info'>
                		        <h3><%=q.firstName%> <%=q.lastName%></h3>
                		        <div>Born: <%=q.dob.toString().split(' ').slice(0,4).join(' ')%></div>
                		        <div>Dead: <%=q.dod.toString().split(' ').slice(0,4).join(' ')%></div>
                		        <div>Sex: <%=q.sex%></div>
                		        <div>Profession: <%=q.profession%></div>
                		        <div>Country: <%=q.country%></div>
                		        <div class='bio'><%=q.biography%></div>
                		        <!--<a href='/author/<q.authorId>'><h2>Quotes</h2></a>-->
                		    </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>  <!-- end of modal div -->
                </li>
            <%});%>
        </ul>
        
    </div>

</div>

<%- include ('templates/footer'); -%>